<h1>Pick your favourite genres</h1>

<div class="checkbox-group required">
  <%= form_for @user, url: users_genres_path, method: :post do |f| %>
    <% @genres.each do |genre| %>
      <input type="checkbox" name="genres[]" value="<%= genre.id %>">
      <%= genre.name.capitalize %><br>
    <% end %>
    <input type="submit" value="Submit" id="genre-submit">
  <% end %>
</div>
