<div class="search-wrapper">
  <% if @users || @books %>
    <% if @users.any? %>
      <%= render partial: "user_search", locals: {users: @users} %>
    <% end %>

    <% if @books.any? %>
      <%= render partial: "book_search", locals: {books: @books} %>
    <% end %>
  <% else %>
    <%= render partial: "no_results"%>
  <% end %>
</div>
