<h1>search view</h1>

<% if @user.any? %>
<%= render partial: "user_search", locals: {user: @user} %>
<% end %>

<% if @books.any? %>
<%= render partial: "book_search", locals: {books: @books} %>
<% end %>
