<h3>Bookclubs</h3>

<div class="">
  <%= link_to "Create your own book club!", new_book_club_path, class:"btn btn-primary user-action-button" %>
</div>

<div class="book-club-wrapper">
  <% @book_clubs.each do |book_club|  %>
    <div class="book-club-card">
      <h4><%=link_to book_club.name, book_club_path(book_club) %></h4>
      <h6><%= book_club.description %></h6>
      <h6>Currently Discussing:</h6>
      <h6><%= book_club.book.title.titleize %></h6>
    </div>
  <% end %>
</div>
