<h1>Who do you want to add to your club?</h1>

<%= link_to "Back", book_club_path(@book_club), class:"btn btn-primary user-action-button" %>
<div class="checkbox-group required">
  <%= form_for @user, url: book_club_book_club_invitees_path, method: :post do |f| %>
    <% @user.all_friends.each do |friend| %>
      <input type="checkbox" name="invitees[]" value="<%= friend.id %>" id="inviteeinput">
      <%= friend.username.capitalize %><br>
    <% end %>
    <input type="submit" value="Submit" id="invitee-submit">
  <% end %>
</div>
