<h1>Bookclub show page</h1>

<div class="row col-md-8 col-md-offset-2">
  <h1><%= @book_club.name %></h1>

  <div class="panel panel-default">
    <% if @book_club.chats.any? %>
      <div class="panel-body" id="chats">
        <%= render partial: 'chats/chat', collection: @book_club.chats %>
      </div>
    <%else%>
      <div class="panel-body hidden" id="chats"></div>
    <%end%>
  </div>
  <%= render partial: 'chats/chat_form', locals: {chat: @chat, book_club: @book_club}%>
</div>
