<div class="button-container">
  <h4>Mark a book to add it to your library</h4>

  <form method="get" action="/users/new">
    <button type="submit">Want to Read</button>
  </form>

  <form method="get" action="/users/new">
    <button type="submit">Currently Reading</button>
  </form>

  <form method="get" action="/users/new">
    <button type="submit">Finished Reading</button>
  </form>
</div>
