<div class="button-container">
  <h4>Mark a book to add it to your library</h4>

  <form method="get" action="/users/new">
    <button type="submit" class="new-user-button">Want to Read</button>
  </form>

  <form method="get" action="/users/new">
    <button type="submit" class="new-user-button">Currently Reading</button>
  </form>

  <form method="get" action="/users/new">
    <button type="submit" class="new-user-button">Finished Reading</button>
  </form>
</div>
