<div class="book-container card">
  <%= link_to(image_tag(book[:book_cover], class:"card-img-top", title: book[:title].titleize), book_path(book[:isbn])) %>
  <div class="book-info"><%= book[:title].titleize.strip %></div>
</div>
