<% @books.each do |key, value| %>
  <h4 class="list-title"><%= key %></h4>
  <div class="scroll-container">
    <div class="scrollable">
      <% value.each do |book| %>
        <%= render partial: "single_book", locals: {book: book} %>
      <% end %>
    </div>

    <div class="paddles">
      <button class="left-paddle paddle hidden"> < </button> <button class="right-paddle paddle"> > </button>
    </div>
  </div>
<% end %>
