<h2> Top Selling Books </h2>

<% @books.each do |book| %>
  <%= render partial: "single_book", locals: {book: book} %>
<% end %>

<h2> Travel </h2>
<% @books_travel.each do |book| %>
  <%= render partial: "single_book", locals: {book: book} %>
<% end %>

<h2> Science </h2>
<% @books_science.each do |book| %>
  <%= render partial: "single_book", locals: {book: book} %>
<% end %>

<h2> Business </h2>
<% @books_business.each do |book| %>
  <%= render partial: "single_book", locals: {book: book} %>
<% end %>
