<img src="/assets/book-hippo-hero4.jpg" alt="" width="100%">


<% @books.each do |key, value| %>
  <h5 class="list-title"><%= key %></h5>
  <div class="scroll-container menu-wrapper">
    <div class="scrollable menu" id= "menu-<%= key.parameterize %>" >
      <% value.each do |book| %>
        <%= render partial: "single_book", locals: {book: book} %>
      <% end %>
    </div>

    <div class="paddles">
      <button class="left-paddle paddle clickable js-left-clickable hidden">
        <span class="clickable js-left-clickable">
          <i class="fa fa-angle-left" style="font-size:48px; color:white"></i>
        </span>
      </button>
      <button class="right-paddle paddle clickable js-right-clickable">
        <span class="clickable js-right-clickable">
          <i class="fa fa-angle-right" style="font-size:48px; color:white"></i>
        </span>
      </button>
    </div>
  </div>
<% end %>
