<h1>Book recommendations</h1>

<div class="next">
  <%= link_to 'Next', new_follow_path %>
</div>
<% @genres.each do |genre| %>
  <!-- <% name = Genre.where('id = ?', genre).name %> -->
  <%#= name %>
  <% books = Book.where('genre_id = ?', genre)  %>
  <% books.each do |book| %>
  <div class="book-wrapper">
    <%= render partial: "single_book_recommendations", locals: {book: book} %>
    <div class="button-container">
      <%= render partial: "books/read_status", locals: {book: book, existing_list: ReadingList.find_by(user_id: current_user.id, book_id: book.id)} %>
    </div>
  </div>
  <% end %>
<% end %>

<div class="next">
  <%= link_to 'Next', new_follow_path %>
</div>
