<h1>Book recommendations</h1>

<%= link_to 'Next', new_follow_path %>

<% @books_sports.each do |book| %>
  <%= render partial: "single_book", locals: {book: book} %>
  <%= render partial: "books/read_status", locals: {book: book, existing_list: ReadingList.find_by(user_id: current_user.id, book_id: book.id)} %>
<% end %>

<%= link_to 'Next', new_follow_path %>
