<h1>Books#show</h1>

<!-- <pre><%#= @book.to_yaml %></pre> -->

<h2>
  <h2> <%= @book.title %> </h2>
  <img src="<%= @book.book_cover %>" alt="<%= @book.title %>">
  <p> <%= @book.description %> </p>
</h2>
