// GENERAL
$bookhippo-purple: #272369;
$black: #000;
$white: #fff;
$light-gray: #a0a0a0;
$crimson: #dc143c;
$dark-gray: #a9a9a9;

// BOOKS
$scroll-gray: #e0dfdb;
$scroll-clear-gray: rgba(130,130,130,0);
$scroll-solid-gray: rgba(160,160,160,1);
$soft-purple: #f9f2ff;
$star-gold: #f79e00;

// RELATIONSHIPS
$relationship-card-gray: #dfdfda;
