@import 'variables/_colors.scss';
@import 'bootstrap-custom';
@import 'books.scss';
@import 'sessions.scss';
@import 'genres.scss';
@import 'relationships.scss';
@import 'users.scss';
@import 'search_for.scss';
@import 'reviews.scss';

// COMPONENT SCSS
@import 'components/_footer.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Oswald', sans-serif;
}
