/**** BOOK INDEX PAGE ****/
/* Book List Sliders */
.scroll-header {
  padding: 15px;
  font-size: 28px;
}

.scroll-container {
  background-color: $scroll-gray;
  position: relative;
  padding: 8px 4px;
}

.scrollable{
  overflow: auto;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
  }
}

/* Book Cards */
.book-container{
  display: inline-block;
  width: 160px;
  height: 270px;
  margin: 7px;

  img {
    display: block;
    height: 91%;
  }
}

.book-info {
  padding: 2%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .7rem;
}

/* Book Slider Arrows */
.paddle {
  background-color: $light-gray;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3em;
  text-shadow: 1px 1px 2px $black;
  outline: 0;
  cursor: pointer;

  &:active {
    background-color: none;
    border: none;
    outline: 0;
  }
  &:focus {
    outline: 0;
  }

  &--right {
    background: linear-gradient(to right, $scroll-clear-gray, $scroll-solid-gray);
  	right: 0;
  }

  &--left {
    background: linear-gradient(to left, $scroll-clear-gray, $scroll-solid-gray);
    left: 0;
  }
}

// Hide arrows on mobile devices
@include media-breakpoint-down(sm) {
  .paddle {
    display: none;
  }
}

/* Buttons */
.submit-button {
  color: $bookhippo-purple;
  border-color: $bookhippo-purple;

  &:hover {
    color: $white;
    background-color: $bookhippo-purple;
    border-color: $bookhippo-purple;
  }
}

/****BOOK SHOW PAGE ****/
/* Star Ratings */
.current-user-stats {
  display: inline-block;
  float: right;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size: 25px;
}

.stars-outer::before {
  content: "\2606";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  font-size: 25px;
}

.stars-inner::before {
  content: "\2605";
  color: gold;
}

.book-display {
  width: 80%;
  padding: 20px;
  background-color: $soft-purple;
  margin: auto;
}

.book-title {
  font-size: 32px;
  color: $bookhippo-purple;
}

.show-author {
  font-weight: 600;
  margin-bottom: 6px;
}

.book-information {
  text-align: center;
}

.button-container-show {
  display: inline;
  form {
    display: inline-block;
  }
  .read-message {
    font-size: 1.1rem;
  }
}

.star-bar {
  z-index: 2;
  width: 200px;
  display: inline-block;
}

.share-btn, .read-btn, .new-user-button, .sumbit-review-btn >  input[type="submit"] {
  margin-bottom: 10px;
  background-color: $bookhippo-purple;
  border-color: $bookhippo-purple;
  color: $white;
  font-weight: 700;
  &:hover {
    color: $bookhippo-purple;
    background-color: $white;
    border-color: $bookhippo-purple;
    font-weight: 700;
  }
}

#new_reading_list {
  margin-bottom: 10px;
}

.description {
  padding-right: 1%;
  margin-bottom: 20px;
  min-height: 200px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  p {
    font-size: 0.9rem;
  }
}


.star:before {
  content: "\2605";
  font-size: 1.5em;
}

.star {
  display: inline-block;
  z-index: 0;
  color: $star-gold;
}

.part-star {
  display: inline;
  overflow: hidden;
  color: $star-gold;
}


@include media-breakpoint-down(sm) {
  .paddle {
    display: none;
  }

 }

.btn.btn-primary {
 margin-bottom: 10px;
 background-color: $bookhippo-purple;
 border-color: $bookhippo-purple;
 color: $white;
 font-weight: 700;
 &:hover {
   color: $bookhippo-purple;
   background-color: $white;
   border-color: $bookhippo-purple;
   font-weight: 700;
 }
}

.review-form-box {
  visibility: hidden;
}
