/**** BOOK INDEX PAGE ****/
/* Book List Sliders */
.scroll-header {
  padding: 15px;
  font-size: 28px;
}

.scroll-container {
  background-color: $scroll-gray;
  position: relative;
  padding: 8px 4px;
}

.scrollable{
  overflow: auto;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
  }
}

/* Book Cards */
.book-container{
  display: inline-block;
  width: 160px;
  height: 270px;
  margin: 7px;

  img {
    display: block;
    height: 91%;
  }

}

.book-info {
  display: block;
  padding: 2%;
  margin-top: 0;
  width: 100%;

  .card-title {
    margin: auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight:  700;

  }

  p {
    font-size: .7rem;
  }
}

/* Book Slider Arrows */
.paddles {
}
.paddle {
  border: none;
  background-color: $light-gray;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3em;
  text-shadow: 1px 1px 2px $black;
  &:focus {
    outline: 0;
  }
}
.left-paddle {
  background: linear-gradient(to left, $scroll-clear-gray, $scroll-solid-gray);
	left: 0;
  outline: 0;
  &:active {
    background-color: none;
    border: none;
  }
}
.right-paddle {
  background: linear-gradient(to right, $scroll-clear-gray, $scroll-solid-gray);
	right: 0;
  outline: 0;
  &:active {
    background-color: none;
    border: none;
  }
}

.hidden {
	display: none;
}

.clickable {
 cursor:pointer;
}

// Hide arrows on mobile devices
@include media-breakpoint-down(sm) {
  .paddle {
    display: none;
  }
}

/* Buttons */

#search-submit-btn {
  color: $bookhippo-purple;
  border-color: $bookhippo-purple;
  &:hover {
    color: $white;
    background-color: $bookhippo-purple;
    border-color: $bookhippo-purple;
  }
}

/****BOOK SHOW PAGE ****/
/* Star Ratings */
.current-user-stats {
  display: inline-block;
  float: right;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size: 25px;
}

.stars-outer::before {
  content: "\2606";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  font-size: 25px;
}

.stars-inner::before {
  content: "\2605";
  color: gold;
}

body.books.show  {
  .show-wrapper {
    width: 75%;
    padding-top: 3%;
    padding-bottom: 5%;
    background-color: $soft-purple;
    margin: auto;
  }
}

.book-show-info, .book-show-review {
  margin: 1% 0;
  padding-left: 0;
  padding-left: 2% !important;
  h2 {
    font-size: 2.1rem !important;
    color: $bookhippo-purple;
  }
}

.book-show-cover {
  display: block;
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
  img {
    display: block;
    margin: auto;
    padding-top: 9%;
    min-width: 80%;
    left: -100%;
    right: -100%;
    top: -120%;
    bottom: -100%;
  }
}

@include media-breakpoint-down(md) {
  p {
    font-size: 0.7rem;
  }
}

.read-btn {
  display: inline-block;
}

.show-author {
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.button-container-show {
  display: inline;
  form {
    display: inline-block;
  }
  .read-message {
    font-size: 1.1rem;
  }
}

.other-info {
  padding: 1.0rem 1.0rem;
  p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}

.share-btn, .read-btn, .new-user-button, .sumbit-review-btn >  input[type="submit"] {
  margin-bottom: 10px;
  background-color: $bookhippo-purple;
  border-color: $bookhippo-purple;
  color: $white;
  font-weight: 700;
  &:hover {
    color: $bookhippo-purple;
    background-color: $white;
    border-color: $bookhippo-purple;
    font-weight: 700;
  }
}

.read-btn {
  margin-bottom: 0;
}

#new_reading_list {
  margin-bottom: 10px;
}

.description {
  padding-right: 1%;
  margin-bottom: 20px;
  min-height: 200px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  p {
    font-size: 0.9rem;
  }
}


.star:before {
  content: "\2605";
  font-size: 1.5em;
}

.star {
  display: inline-block;
  z-index: 0;
  color: $star-gold;
}

.part-star {
  display: inline;
  overflow: hidden;
  color: $star-gold;
}

.star-bar {
  z-index: 2;
  width: 200px;
  display: inline-block;
}


@include media-breakpoint-down(sm) {
  .paddle {
    display: none;
  }

 }

.btn.btn-primary {
 margin-bottom: 10px;
 background-color: $bookhippo-purple;
 border-color: $bookhippo-purple;
 color: $white;
 font-weight: 700;
 &:hover {
   color: $bookhippo-purple;
   background-color: $white;
   border-color: $bookhippo-purple;
   font-weight: 700;
 }
}

.review-form-box {
  visibility: hidden;
}
