// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
    background: crimson;
    color: white;
}

.button-container {
    display: grid;
}

.book-wrapper {
    display:  inline-block;
    text-align:  center;
    padding: .5rem;
    margin-bottom:  1rem;
    margin-top:  1rem;
}

.book-info p {
  font-size: .8rem;
  font-weight:  800;
  padding-bottom: 0;
  margin:  0;
}



p.book-title {
    text-align: center;
    margin:  auto;
    white-space:  nowrap;
    overflow:  hidden;
    text-overflow: ellipsis;
}

#genre-submit {
  color: #272369;
  border-color: #272369;
  &:hover {
    color: white;
    background-color: #272369;
    border-color: #272369;
  }
}

#genreinput {
  color: #272369;
  border-color: #272369;
  &:hover {
    color: white;
    background-color: #272369;
    border-color: #272369;
  }
}
