input.btn.btn-primary {
  margin-bottom: 10px;
  background-color: $bookhippo-purple;
  border-color: $bookhippo-purple;
  color: $white;
}

.user-follow-wrapper {
  display: inline-block;
  text-align:  center;
  padding: .5rem;
  margin-bottom:  1rem;
  margin-top:  1rem;
  margin-left: .6rem;
  margin-right: .6rem;
}

.relationship-card {
  list-style: none;
  display: inline-block;
  text-align: center;
  background-color: $relationship-card-gray;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 40%;
}

.users.follow {
  padding: 0;
}

.username {
font-weight: bolder;
font-size: 1.5em;
}
