.search-wrapper {
  margin: 0 auto;
  padding: 2%;
  width: 85%;
}

.search-book-container {
  h4 {
    display: inline;
    a{
      display: inline;
    }
  }
}

.search-book-item {
  display: inline-block;
}

.user-search-results {
  margin-bottom: 20px;
}

.user-btn {
  margin-bottom: 10px;
  background-color: $bookhippo-purple;
  border-color: $bookhippo-purple;
  color: $white;
  &:hover {
    color: $bookhippo-purple;
    background-color: $white;
    border-color: $bookhippo-purple;
    font-weight: 700;
  }
}
