// Place all the styles related to the search_for controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search-wrapper {
  margin: 0 auto;
  padding: 2%;
  width: 85%;
}

.search-book-container {
  h4 {
    display: inline;
    a{
      display: inline;
    }
  }
}

.search-book-item {
  display: inline-block;
}
