a {
  text-decoration: none;
}

.user-show-btn {
  margin-bottom: 10px;
  background-color: $bookhippo-purple;
  border-color: $bookhippo-purple;
  color: $white;
  font-weight: 700;
  &:hover {
    color: $bookhippo-purple;
    background-color: $white;
    border-color: $bookhippo-purple;
    font-weight: 700;
  }
}

form.finished {
  margin-left: 63.2em;
}

.btn-primary {
  margin-bottom: 10px;
  background-color: $bookhippo-purple;
  border-color: $bookhippo-purple;
  color: $white;
  font-weight: 700;
  &:hover {
    color: $bookhippo-purple;
    background-color: $white;
    border-color: $bookhippo-purple;
    font-weight: 700;
  }
}

.book-show-empty {
  display: inline-block;
  width: 160px;
  height: 270px;
  border: none;
  overflow: hidden;
  margin: 7px;
  position: relative;
  background-color: $dark-gray;
}
