// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
}

.user-show-btn {
  margin-bottom: 10px;
  background-color: #272369;
  border-color: #272369;
  color: white;
  font-weight: 700;
  &:hover {
    color: #272369;
    background-color: white;
    border-color: #272369;
    font-weight: 700;
  }
}

form.finished {
    margin-left: 63.2em;
}

.btn-primary {
  margin-bottom: 10px;
  background-color: #272369;
  border-color: #272369;
  color: white;
  font-weight: 700;
  &:hover {
    color: #272369;
    background-color: white;
    border-color: #272369;
    font-weight: 700;
  }
}

.book-show-empty {
  display: inline-block;
  width: 160px;
  height: 270px;
  border: none;
  overflow: hidden;
  margin: 7px;
  position: relative;
  background-color: darkgrey;
}
