// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
}

.user-show-btn {
  margin-bottom: 10px;
  background-color: #272369;
  border-color: #272369;
  color: white;
  &:hover {
    color: #272369;
    background-color: white;
    border-color: #272369;
    font-weight: 700;
  }
}
