<div>
  <% if rating == false %>
    <p>Unrated</p>
  <% elsif rating == 0 %>
    <p class='average-rating-stars'>Average Rating: 0</p>
  <% else %>
    <p class='average-rating-stars' id='<%= book.ratings.length %>'>Average Rating:</p>
    <% for i in (1..rating) %>
      <div class='star'></div>
    <% end %>
  <% end %>
</div>
