<div class="star-bar">
  <!-- TODO: Post a message here if there are no reviews -->
  <p><strong>Average Rating:</strong></p>
  <% for i in (1..@rounded_rating) %>
    <div class="star">

    </div>
  <% end %>
</div>
