<script type="text/javascript">
$(function () {

  $("#rateYo").rateYo({
    starWidth: "40px"
  });
  $("#rateYo").rateYo()
          .on("rateyo.set", function (e, data) {

              var bookId = document.getElementById("book_rating").value;
              alert("The rating is set to " + data.rating + "!");
              $.ajax({
                         url: '/books/'+bookId+'/ratings',
                         method: 'post',
                         data: { rating: data.rating },
                         dataType: 'json',

                       }).done(function(response){

                         console.log(response.statusCode);
                       });


          });


});

</script>
<div id="rateYo"></div>
