<div class="review-container">
  <!-- Changes the header if the book has no reviews yet -->
  <% if @reviews.any? %>
    <h4 class="review-header">Reviews</h4>
  <% else %>
    <h4 class="review-header empty-review">Whoops! <br> It looks like this book hasn't been reviewed yet...</h4>
  <% end %>
  <ul class="post-list">
    <% if @reviews.any? %>
      <% @reviews.each do |post|%>
          <% unless post == nil %>
            <span class="post-username"><strong><%= post.username_display %></strong></span>
            <span class="post-time"><%= post.review_time %></span>
            <li class="list-review"> <%= post.comment %> </li>
          <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
